<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Naše stránka</h1>
    <h3 th:text="${cislo}"></h3>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Duis risus. Fusce suscipit libero eget elit. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Donec vitae arcu. Fusce aliquam vestibulum ipsum. Sed ac dolor sit amet purus malesuada congue. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Vivamus porttitor turpis ac leo. Nunc dapibus tortor vel mi dapibus sollicitudin. Etiam</p>
</body>
</html>